.container{
    display: flex;
    justify-content: center;
    align-items: baseline;
}


.CartCardItem{
    background-color: blue;
    width: 960px;
    height: min-content;
    
}

.col-md-4{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.CartItemImg{
    width: 65%;
    

}

.Card-body{
    padding: 10px, 10px, 10px, 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}